<!DOCTYPE html>
<html lang="tr">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}Sorbi'ye Hoşgeldiniz!{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/browser_logo_light.png') }}">
</head>

<body>
  <div class="auth-container">
    <div class="sidebox">
      <a href="{{ url_for('verification') }}" class="{% if request.path == '/verification' %}active{% endif %}">DOĞRULAMA</a>
      <a href="{{ url_for('exam_selection') }}" class="{% if request.path == '/exam_selection' %}active{% endif %}">SINAV SEÇİMİ</a>
    </div>
    <div class="auth-content">

    </div>
  </div>
</body>

</html>